

.container__wrap {
   /* position: relative; */
    padding-left: 0;
    margin-top: 90px;
    margin-left: 9rem;
    min-height: 100vh;
    transition: padding-left 0.3s; 
     /* z-index: -1; */
}

.newcontainer__wrap {
  min-height: 100vh;
    overflow:scroll; 
}
  
    /* @media screen and (min-width: 576px) {
      padding-left: 250px;
    } */