.login-item {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // background-position: center;
    // background-repeat: "no-repeat";
    width: "100%";
    height: "auto";
    position: fixed;
    top: 0;
    bottom: 0;
    // min-width: 100%;
    // min-height: 100%;
}

.loginPage {
    // background-color:#D8DCDD ;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.right {
    right: 0;
    background-color: #d8dcdd;
}

.left {
    left: 0;
    background-color: #354147;
}
.left h2 {
    font-family: ClearfaceMTStd-Bold;
    font-size: 3.11111rem;
    line-height: 3.11111rem;
    letter-spacing: -0.0722222rem;
    color: #ffffff;
}
.left p {
    color: rgb(255, 255, 255);
    font-family: BasisGrotesquePro-Regular, sans-serif;
    font-size: 0.833333rem;
    line-height: 1.11111rem;
    letter-spacing: 0rem;
    opacity: 0.5;
    text-align: center;
}
.registrationPage{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #d8dcdd;
}
